<%= form_for(@snap) do |f| %>
  <% if @snap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snap.errors.count, "error") %> prohibited this snap from being saved:</h2>

      <ul>
      <% @snap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
