<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
  Menu
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  	<div class='modal-header modal-button'>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  	<span aria-hidden="true">CLOSE</span>
		  </button>
  	</div>

		<div class='modal-body menu'>
			<% %w(cats shopping toys photos yard fish settings news other).each do |target| %>
		  	<%= render 'shared/menu_button', path: menu_path(target), name: target %>
			<% end %>
	  </div>
	</div>
</div>