<div class="good-card">
	<h1 class='name'>
		<%= food.name %>
	</h1>
	<%= image_tag food.image %>

	<h2 class="price">
		<div>
			<span class='denom'>fish</span>
			<span class='price'><%= food.price_value %></span>
		</div>
	</h2>
</div>
