<div style='height:100%; background-color: #81FD7C;'>
	<%= render 'shared/menu' %>

	<h1>toys</h1>

	<% @goods.each do |good| %>
	  <%= render 'good_card', good: good %>

	<% end %>

	<div style='clear:both;'>
	</div>
</div>
