.spot {
	position: relative;
	height: 100px;
	width: 100px;
}

.loc-1 {
	top: 260px;
	left: 150px;
	border: 1px solid red;
}
.loc-2 {
	top: 100px;
	left: 400px;
	border: 1px solid orange;
}
.loc-3 {
	top: 150px;
	left: 450px;
	border: 1px solid green;
}
.loc-4 {
	top: 170px;
	left: 400px;
	border: 1px solid blue;
}
.loc-5 {
	top: 200px;
	left: 750px;
	border: 1px solid purple;
}
.loc-6 {
	top: 150px;
	left: 300px;
	border: 1px solid purple;
}
