.spot {
	position: relative;
	height: 100px;
	width: 100px;
	div.spot-box {
		height: 100%;
	}
}

.spot.loc-1 {
	top: 260px;
	left: 150px;
	border: 1px solid red;
}
.spot.loc-2 {
	top: 100px;
	left: 400px;
	border: 1px solid orange;
}
.spot.loc-3 {
	top: 150px;
	left: 450px;
	border: 1px solid green;
}
.spot.loc-4 {
	top: 170px;
	left: 400px;
	border: 1px solid blue;
}
.spot.loc-5 {
	top: 150px;
	left: 750px;
	border: 1px solid purple;
}

.dish.loc-1 {
	position: relative;
	top: 130px;
	left: 250px;
}
