<div class="cat-index">
	<h1>
		<%= cat.name %>
	</h1>
	<div class="top-snap">
		<%= image_tag("http://animalia-life.com/data_images/cat/cat7.jpg") %>
	</div>
	<div class="stats">
		2015/07/01
	</div>
</div>